<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Chess Openings{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    .top-buttons {
        position: fixed;       
        top: 10px;             
        right: 10px;           
        z-index: 1000;         
        display: flex;         
        gap: 10px;             
        flex-wrap: wrap;       
    }

    .top-buttons button {
        padding: 5px 10px;
        font-size: 14px;
        max-width: 120px;
        white-space: nowrap;   
        overflow: hidden;
        cursor: pointer;
    }

    </style>
</head>
<div class="top-buttons">
    {% if session.username %}
        <form action="{{ url_for('user_profile', username=session.username) }}" method="get">
        <button type="submit">{{ session.username }}</button>
    </form>
    {% endif %}
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Home</button>
    </form>
    {% if session.username %}
    <form action="/new_item" method="get">
        <button type="submit">New Opening</button>
    </form>
    {% endif %}
    <form action="/leaderboard" method="get">
        <button type="submit">Leaderboard</button>
    </form>
    {% if session.username %}
        <form action="/logout" method="get">
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <form action="/" method="get">
            <button type="submit">Log in</button>
        </form>
    {% endif %}

</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
