{% extends "base.html" %}
{% block content %}
{% set opening = info["opening"] %}
{% set moves = info["moves"] %}
{% set opening_id = info["opening_id"] %}

<h2>Edit Opening: {{ opening["title"] }}</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if session.username == opening["creator"] %}
    <form action="{{ url_for('save_opening_edit', opening_id=opening_id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>Name:</label>
        <input type="text" name="nimi" value="{{ opening['title'] }}" size="30"><br><br>

        <label>Description:</label><br>
        <textarea name="kuvaus" rows="4" cols="60">{{ opening['opening_description'] }}</textarea><br><br>

        <label>ECO Code:</label>
        <input type="text" name="eco_code" value="{{ opening['eco_code'] }}"><br><br>
        <label>Tag:</label>
        <select name="tag" id="tag" required>
          <option value="neutral" {% if opening.tag == "neutral" %}selected{% endif %}>Neutral</option>
          <option value="aggressive" {% if opening.tag == "aggressive" %}selected{% endif %}>Aggressive</option>
          <option value="passive" {% if opening.tag == "passive" %}selected{% endif %}>Passive</option>
        </select>
        <label>Color:</label>
        <select name="color" id="color" required>
          <option value="white" {% if opening.color == "white" %}selected{% endif %}>White</option>
          <option value="black" {% if opening.color == "black" %}selected{% endif %}>Black</option>
        </select>

        <h3>Moves:</h3>

        {% for m in moves %}
            <label>Move {{ m["move_number"] }} ({{ m["color"] }})</label>

            <input type="hidden" name="move_id_{{ m['id'] }}" value="{{ m['id'] }}">

            <input type="text" name="siirto_{{ m['id'] }}" value="{{ m['move_notation'] }}" size="20" minLength="1">
            <br><br>
        {% endfor %}

        <button type="submit">Save changes</button>

</form>
{% else %}
    <strong style="color:red;">You can't edit this opening</strong>
{% endif %}
{% endblock %}
