<!DOCTYPE html>
<html lang="en">
<html>
{% extends "base.html" %}
{% block content %}

<head>
  <title>Log in</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
  {% if session.username %}
  <h1>All openings</h1>
  <form action="/" method="get">
    <input type="text" name="query" value= "{{query}}" placeholder="search with the name of the opening">
  <select name="order">
      <option value="id" {% if order == "id" %}selected{% endif %}>Newest</option>
      <option value="tykkaykset" {% if order == "tykkaykset" %}selected{% endif %}>Likes</option>
      <option value="tekija" {% if order == "tekija" %}selected{% endif %}>Creator</option>
  </select>
    <button type="submit">Search</button>
    <a href="/" style="margin-left: 10px;">
    <button type="button">Remove search</button>
  </a>

  </form>

<ul>
  {% for avaus in lista %}
    <li>{{ avaus["nimi"] }} - {{ avaus["kuvaus"] }} - {{ avaus["tykkaykset"] }} - {{avaus["move_1"]}} - {{avaus["move_2"]}}
        <a href = "{{ url_for('opening_detail', opening_id=avaus['id']) }}"> VIEWER </a>
    </li>
  {% endfor %}
</ul>
  {% else %}
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p> 
    <a href="/register">Luo Käyttäjä</a>
  </p>
  {% endif %}
</body>

</html>
{% endblock %}
