<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <title>Kirjautuminen</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä:
    <a href="{{ url_for('user_profile', username=session.username) }}">
      {{ session.username }}
    </a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_item">Uusi avaus</a>
  </p>
  <form action="/" method="get">
    <input type="text" name="haku" value= "{{haku}}" placeholder="Hae nimellä">
  <select name="jarjestys">
      <option value="id" {% if jarjestys == "id" %}selected{% endif %}>Uusin</option>
      <option value="tykkaykset" {% if jarjestys == "tykkaykset" %}selected{% endif %}>Tykkäykset</option>
      <option value="tekija" {% if jarjestys == "tekija" %}selected{% endif %}>Tekijä</option>
  </select>
    <button type="submit">Hae</button>
    <a href="/" style="margin-left: 10px;">
    <button type="button">Poista haku</button>
  </a>

  </form>

<ul>
  {% for avaus in lista %}
    <li>{{ avaus["nimi"] }} - {{ avaus["kuvaus"] }} - {{ avaus["tykkaykset"] }} - {{avaus["move_1"]}} - {{avaus["move_2"]}}
        <a href = "{{ url_for('opening_detail', opening_id=avaus['id']) }}"> VIEWER </a>
    </li>
  {% endfor %}
</ul>
  {% else %}
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p> 
    <a href="/register">Luo Käyttäjä</a>
  </p>
  {% endif %}
</body>

</html>
