<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_item">Uusi avaus</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p> 
    <a href="/register">Luo Käyttäjä</a>
  </p>
  {% endif %}
</body>

</html>
