<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>User</th>
            <th>Total Likes</th>
            <th>Most Liked Opening</th>
            <th>Most Liked Comment</th>
        </tr>

        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('user_profile', username=user.name) }}">{{ user.name }}</a></td>
            <td>{{ user.Total_likes }}</td>
            <td>
                {% if user.opening != "none" %}
                    <a href="{{ url_for('opening_detail', opening_id=user.opening_id) }}">
                        {{ user.opening }}
                    </a>
                {% else %}
                    None
                {% endif %}
            </td>
            <td>
                {% if user.comment != "none" %}
                    <a href="{{ url_for('opening_detail', opening_id=user.comment_opening_id) }}">
                        {{ user.comment }}
                    </a>
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}
