<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<head>
  <title>Uusi avaus</title>
</head>
{% if session.username %}
<body>
  <h1>New opening</h1>
  <form id="openingForm" action="/create_item" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <p>
      Title: <br />
      <input type="text" name="nimi" id="nimi" required maxlength="30"
             oninvalid="this.setCustomValidity('Name must be between 5 and 30 letters')"
             oninput="this.setCustomValidity('')"/>
    </p>

    <p>
      Eco code: <br />
      <input type="text" name="eco_code" />
    </p>

    <p>
      Description: <br />
      <input type="text" name="kuvaus" id="kuvaus" required maxlength="60"
             oninvalid="this.setCustomValidity('Description must be between 5 and 60 letters')"
             oninput="this.setCustomValidity('')"/>
    </p>
    <p>
      Tag: <br>
      <select name="tag" id="tag" required>
        <option value="neutral">Neutral</option>
        <option value="aggressive">Aggressive</option>
        <option value="passive">Passive</option>
      </select>
    </p>

    <p>
      Color: <br>
      <select name="color" id="color" required>
        <option value="white">White</option>
        <option value="black">Black</option>
      </select>
    </p>

    <div style="display: flex; gap: 20px; align-items: flex-start;">
    <div>

      <p>
        Moves: <br />
        <textarea name="siirrot" id="siirrot" rows="20" cols="6" required maxlength="60"
                  oninvalid="this.setCustomValidity('Enter the moves of the opening. Between 6 and 60 letters')"
                  oninput="this.setCustomValidity('')"></textarea>
      </p>
    </div>

    <div style="min-width: 180px; font-size: 16px; padding: 8px; border: 2px solid #0b0303;">
      <strong>Chess notation</strong><br><br>
      K = King<br>
      Q = Queen<br>
      R = Rook<br>
      B = Bishop<br>
      N = Knight<br>
      x denotes capture<br><br>
      Example:<br>
      e4 d5<br>
      Nf3 Nc6<br>
      exd5 e5<br><br>
      Castling:<br>
      O-O (kingside)<br>
      O-O-O (queenside)
    </div>


    <input type="submit" value="Submit" />
  </form>


</body>
</html>
{% else %}
  <h1>Log in to make an opening</h1>
{% endif %}
{% endblock %}
