<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <title>Uusi avaus</title>
</head>

<body>
  <form action="/create_item" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="nimi" />
    </p>
    <p>
      Eco code: <br />
      <input type="text" name="eco_code" />
    </p>
    <p>
      Kuvaus: <br />
      <input type="text" name="kuvaus" />
    </p>
    <p>
      Siirrot: <br />
      <textarea name="siirrot"  rows = "20" cols="6"></textarea>
    </p>
    <input type="submit" value="Luo avaus" />
  </form>
</body>

</html>
