{% extends "base.html" %}
{% block content %}
{% set openings, comments, total_likes = info["openings"], info["comments"], info["total_likes"] %}

<h1>{{ username }}</h1>

<p><strong>Tykkäykset:</strong> {{ total_likes }}</p>

<table border="1" cellpadding="6">
    <br><label>Openings</label><br>
    <tr>
        <th>Nimi</th>
        <th>ECO</th>
        <th>Description</th>
        <th>Likes</th>
    </tr>

    {% for o in openings %}
    <tr>
        <td>
            <a href="{{ url_for('opening_detail', opening_id=o[0]) }}">{{ o[1] }}</a>
        </td>
        <td>{{ o[3] }}</td>
        <td>{{ o[2] }}</td>
        <td>{{ o[4] }}</td>
    </tr>
    {% endfor %}
</table>

<table border="1" cellpadding="6">
    <br><label>Comments</label><br>
    <tr>
        <th>Content</th>
        <th>Likes</th>
        <th>Opening</th>
    </tr>

    {% for c in comments %}
    <tr>
        <td>{{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td><a href="{{ url_for('opening_detail', opening_id=c[1]) }}">{{ c[4] }}</a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
