{% extends "base.html" %}

{% block content %}
<h1>{{ avaus["nimi"] }}</h1>
<p><strong>Tekijä: 
    <a href="{{ url_for('user_profile', username=avaus['creator']) }}">
    {{ avaus["creator"] }}
    </a>
</strong> </p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p><strong>Description:</strong> {{ avaus["opening_description"] }}</p>
<p><strong>Likes:</strong> {{ avaus["likes"] }}</p>
{% if session.username == avaus['creator'] %}
    <a href="{{ url_for('edit_opening', opening_id=avaus['id']) }}">
        <button type="button">Edit Opening</button>
    </a>
{% endif %}

<hr>

<h2>Moves</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>White</th>
        <th>Black</th>
    </tr>
    <tr>
    {% for i in range(0, moves|length, 2) %}
    <tr>
        <td>{{ moves[i]["move_notation"] }}</td>
        <td>
            {% if moves[i+1] is defined %}
                {{ moves[i+1]["move_notation"] }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tr>
</table>
<form action="{{ url_for('tykkaa', opening_id=avaus['id']) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if tykatty %}
        <button type="submit">Poista tykkäys</button>
    {% else %}
        <button type="submit">Tykkää</button>
    {% endif %}
</form>

<br>
<h2>Kommentit</h2>

{% if session.username %}
<form action="{{ url_for('kommentti', opening_id=avaus['id']) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <textarea name="sisalto" rows="3" cols="60"></textarea><br>
    <button type="submit">Lähetä</button>
</form>
{% if session.username == avaus['creator'] %}
<form action="{{ url_for('delete_opening', opening_id=avaus['id']) }}" method="post" style="margin-top:10px;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this opening?')">
        Poista avaus
    </button>
</form>
{% endif %}

{% else %}
<p>Kirjaudu kommentoidaksesi.</p>
{% endif %}

<br>

{% for k in kommentit %}
<div style="border:1px solid #aaa; padding:10px; margin-bottom:10px;">
    <p><strong>
        <a href="{{ url_for('user_profile', username=avaus['tekija']) }}">
            {{ k[1] }}
        </a>
    </strong></p>    
    {% if request.args.get('edit') == k[0]|string %}
        {% if session.username == k[1] %}
        <strong style="color:red;">Warning: editing comments removes likes</strong>
        <form action="{{ url_for('update_comment_route', id=k[0]) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="opening_id" value="{{ avaus['id'] }}">
            
            <textarea name="new_text" style="width:100%;height:80px;">{{ k[2] }}</textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
        {% else %}
            <p> You aren't allowed to change this comment</p>
        {% endif %}
    {% else %}
    <p>{{ k[2] }}</p>
    {% endif %}
    <form action="{{ url_for('tykkaa_kommentista', id=k[0]) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if tykatyt[k[0]] %}
        <button type="submit">Remove like</button>
        {% else %}
        <button type="submit">Like</button>
        {% endif %}
        {{ k[3] }} Likes
    </form>
    {% if session.username == k[1] %}
    <form action="{{ url_for('delete_comment', comment_id=k[0]) }}" method="post" style="display:inline;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if request.args.get('edit') == k[0]|string %}
            <a href="{{ url_for('opening_detail', opening_id=avaus['id']) }}">
                <button type="button">Cancel</button>
            </a>
        {% else %}
            <a href="?edit={{ k[0] }}">
                <button type="button">Edit</button>
            </a>
        {% endif %}
        <button type="submit" onclick="return confirm('Are you sure you want to delete this comment?')">
            Delete comment
        </button>
    </form>
    {% endif %}

</div>
{% endfor %}
{% endblock %}

