<h1>{{ avaus["nimi"] }}</h1>
<p><strong>Tekijä: 
    <a href="{{ url_for('user_profile', username=avaus['tekija']) }}">
    {{ avaus["tekija"] }}
    </a>
</strong> </p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p><strong>Description:</strong> {{ avaus["kuvaus"] }}</p>
<p><strong>Likes:</strong> {{ avaus["tykkaykset"] }}</p>

<hr>

<h2>Moves</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>Move #</th>
        <th>White</th>
        <th>Black</th>
    </tr>

    {% for move in moves %}
        <tr>
            <td>{{ move["siirto_numero"] }}</td>
            <td>{{ move["siirtoW"] }}</td>
            <td>{{ move["siirtoM"] }}</td>
        </tr>
    {% endfor %}
</table>
<form action="{{ url_for('tykkaa', opening_id=avaus['id']) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if tykatty %}
        <button type="submit">Poista tykkäys</button>
    {% else %}
        <button type="submit">Tykkää</button>
    {% endif %}
</form>

<br>
<h2>Kommentit</h2>

{% if session.username %}
<form action="{{ url_for('kommentti', opening_id=avaus['id']) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <textarea name="sisalto" rows="3" cols="60"></textarea><br>
    <button type="submit">Lähetä</button>
</form>
{% if session.username == avaus['tekija'] %}
<form action="{{ url_for('delete_opening', opening_id=avaus['id']) }}" method="post" style="margin-top:10px;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" onclick="return confirm('Haluatko varmasti poistaa tämän avauksen?')">
        Poista avaus
    </button>
</form>
{% endif %}

{% else %}
<p>Kirjaudu kommentoidaksesi.</p>
{% endif %}

<br>

{% for k in kommentit %}
<div style="border:1px solid #aaa; padding:10px; margin-bottom:10px;">
    <p><strong>
        <a href="{{ url_for('user_profile', username=avaus['tekija']) }}">
            {{ k[1] }}
        </a>
    </strong></p>
    <p>{{ k[2] }}</p>
    <form action="{{ url_for('tykkaa_kommentista', id=k[0]) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if tykatyt[k[0]] %}
        <button type="submit">Poista tykkäys</button>
        {% else %}
        <button type="submit">Tykkää</button>
        {% endif %}
        {{ k[3] }} likes
    </form>
    {% if session.username == k[1] %}
    <form action="{{ url_for('delete_comment', comment_id=k[0]) }}" method="post" style="display:inline;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" onclick="return confirm('Haluatko varmasti poistaa tämän kommentin?')">
            Poista kommentti
        </button>
    </form>
    {% endif %}

</div>
{% endfor %}

